<?xml version="1.0"?>
<launch>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/calibration.world"/>
    
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>

    <!-- camera calibration -->
    <node name="cam_cal" pkg="camera_calibration" type="cameracalibrator.py" args="--size 8x6 --square 0.108 image:=/uav/camera1/image_raw camera:=/uav/camera1"/>
</launch>
